*
{
  box-sizing: border-box;
  font-family:"Poppins", sans-serif;
}

body
{
  height: 100vh;
  display: flex;
  padding: 1rem;
  gap: 2rem;
  /* justify-content: center; */
  /* align-items: center; */
}

.quote__content
{
  font-size: 3rem;
}


.quote
{
  height: 24rem;
  width: 18rem;
  padding: 1rem;
  border: 1px solid;
}


.poster 
{
  width: 250px;
  height: 250px;
  padding: 1rem;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
  border: 1px solid blue;
}

.poster__input
{
  width: 100%;
  height: 4rem;
  display: none;

  font-size: 2rem;
  font-weight: bold;
  text-align: center;

  border: none;
  outline: none;
}

.poster__text
{
  padding: 1rem;

  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}